<div class="card">
    <img src="../../../assets/image/elfo.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Nom du jeu <span>(Type)</span></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        <button type="button" class="btn btn-warning">Dupliquer</button>
    </div>
    <div class="card-footer">
        <small class="text-muted">Date de création :</small>
    </div>
    <div class="card-footer">
        <small class="text-muted">Dernière modification :</small>
    </div>
    <button disabled type="button" class="btn btn-dark">
        Déjà joué <span class="badge bg-secondary">4</span>
    </button>
</div>
