<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">
  <div class="login-header">
    <h1>CONNEXION</h1>
  </div>
  <div class="login-form">
    <div class="login-header">
        <h1>CONNEXION</h1>
      </div>
    <h3>E-mail / Username :</h3>
    <input type="text" placeholder="Username"/><br>
    <h3>Mot de passe:</h3>
    <input type="password" placeholder="Password"/>
    <h6 class="no-access">Mot de passe oublié?</h6>
    <br>
    <input type="button" value="Valider" class="login-button"/>
    <br>
    <a class="sign-up">Inscrivez-vous !</a>
  </div>
</div>