<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">

  <div class="login-form">
    <div class="login-header">
      <p>Connexion</p>
    </div>
    <p>E-mail / Username :</p>
    <input type="text" placeholder="" /><br>
    <p>Mot de passe:</p>
    <input type="password" placeholder="" />
    <h6 class="no-access">Mot de passe oublié?</h6>
    <br>
    <input type="button" class="btn btn-primary" value="Valider"/>
    <br>
    <a class="sign-up">Inscrivez-vous !</a>
  </div>
</div>