<h1>A propos</h1>

<p>Un livre dont vous êtes le héros (ULDVELH) est le nom d'une collection de livres-jeux créée en 1984 éditée à l'origine au sein de la collection Folio junior chez Gallimard jusqu’en 2005, puis comme une collection en propre chez Gallimard jeunesse1.

    En France, ce nom désigne par extension la catégorie de livre-jeu basé sur le principe présent dans cette collection, d'une progression de lecture en fonction des choix et du résultat des actions du lecteur joueur. </p>

<h2>Concept</h2>

<p>Les livres-jeux sont des livres dont les paragraphes sont numérotés. À la fin de la lecture d'un paragraphe, le lecteur a le choix entre plusieurs possibilités, représentant les actions du personnage qu'il incarne. Ces possibilités renvoient à d'autres paragraphes, qui développent les conséquences des choix du lecteur. Les paragraphes ne sont donc pas lus dans l'ordre des numéros, et chaque lecteur ne lira pas les mêmes paragraphes, puisqu'il ne fera pas les mêmes choix. On peut à ce titre distinguer deux grandes familles de livres-jeux :

    les livres « divergents » : chaque choix modifie le cours de l'histoire et mène vers une fin différente ; c'est le cas des livres des collections Choose Your Own Adventure et Le Challenge des étoiles ;
    les livres « à objectif » : le personnage principal a un objectif, une mission, et les différents cheminements reviennent vers cet objectif ; il y a en général une « grande fin » qui correspond à l'accomplissement de la mission ; c'est le cas de la plupart des livres-jeux.</p>